{%extends 'trueLayout.html'%}
{% load static %}        
{% block content %}

    <div class="calculadora-slay">
        <form class="calculadora" name="calc" action="" method="get">
            <!--LÓGICA DE LA CALCULADORA:
                Se agregan al input los caracteres asignadosele mediante +=
                la escritura de nuevos caracteres especificados por cada botón
             -->

            <input value="{{ data }}" class="value" type="text" name="text" readonly="">
            <span class="num clear" onclick="document.calc.text.value = ''">AC</span>
            <span class="num" onclick="document.calc.text.value += 'p'">p</span>
            <span class="num" onclick="document.calc.text.value += 'q'">q</span>
            <span class="num" onclick="document.calc.text.value += 'r'">r</span>
            <span class="num" onclick="document.calc.text.value += '~'">~</span>
            <span class="num" onclick="document.calc.text.value += '^'">^</span>
            <span class="num" onclick="document.calc.text.value += 'v'">v</span>
            <span class="num" onclick="document.calc.text.value += '⊕'">⊕</span>
            <span class="num" onclick="document.calc.text.value += '→'">→</span>
            <span class="num" onclick="document.calc.text.value += '↔'">↔</span>

            <button class="equal" type="submit">Generar</button>

        </form>
        <button class="gen" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Visualizar tabla de
            verdad</button>


        <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                   
                    <!-- Se obtiene las lista de listas final -->
                    {% for lst in lsts %}
                    <div class="container">
                      <ul>
                        <!-- Se obtiene cada list incluida en la lista final -->
                        {% for item in lst %}
                        <div class="item">
                         <!-- Se imprime cada ITEM como parte de una list de chars -->
                          <li">{{item}}</li>
                        </div> 
                        {% endfor %}
                      </ul> 
                    </div>  
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock content %}